*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box{
    background-color: red;
    background-image: url("https://th.bing.com/th/id/OIP.inKr8R59l2jxthLDZo8-zAHaEo?w=273&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width:1000px;
}
li {
    margin-left: 30px;
}