
    h1{
        font-weight: bold;
        color:brown;
        margin-bottom: 48px;
    }
    div{
        border: 2px solid black;
        width: 50%;
        padding: 20px;
    }
    div img{
        /* margin-left: 22rem; */
        height: 350px;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
    div p{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }